*{
    margin: 0;
    padding: 0;
}


h1{
    color: white;
    text-align: center;
    font-size: 40px;
}

body{
    background-color: black;
}

header{
    height: 300px;
    background-color: orange;

}


nav{
    height: 100px;
    background-color: blue;
}

main{
    height: 400px;
}